#texte {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
}

h1 {
	font-size: 30px;
	color: #384c5c; /* Set the color for h1 */
}

h2 {
	font-size: 24px;
	color: #384c5c; /* Set the color for h2 */
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
}

form {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	border: 1px solid #ccc;
}

th {
	font-weight: bold;
}

#landing-image {
	width: 800px; /* Set the desired width */
	height: auto; /* Maintain aspect ratio */
}