@charset "UTF-8";

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: lightblue;
	margin-bottom: 20px;
}

.logo {
	width: 20%;
	height: 20%;
}

.lien {
	display: flex;
	align-items: center;
}

.lien a {
	margin: 0 10px;
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.lien a:hover {
	color: #f5f5f5;
}

#footer {
	background-color: #f8f4f4;
	padding: 5px;
	text-align: center;
	position: sticky;
	bottom: 0;
}