@charset "UTF-8";

body {
	height: 100vh;	
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #34495e;
}

#content {
	border: double;
	padding: 10px;
	margin: 10px;
	min-height: calc(100vh - 20px - 10px - 5px); /* 计算剩余空间的高度 */
}

.logo {
	width: 20%;
	height: 20%;
}

#search-input {
	height: 40px;
}

.lien {
	display: flex;
	align-items: center;
	width: 25vw;
}

.lien a {
	margin: 0 10px;
	font-size: 14px;
	text-decoration: none;
	color: white;
}

.lien a:hover {
	color: #f5f5f5;
}

.profile-image-size {
	width: 80%;
	height: 80%;
}

.profile-card {
	height: 18vh;
}

.speedometer-size {
	height: 40%;
	width: 40%;
}

.h-size {
	min-height: 67vh;
}

.side-nav {
	height: 90%;
}

.bg-reportly-lbl {
	background-color: #34495e;
	border-color: #34495e;
}

#navbarNav {
	width: 20vw;
}

/* footer */

#footer {
	background-color: #f8f4f4;
	padding: 5px;
	text-align: center;
<<<<<<< HEAD
	bottom: 0;
}
=======
	margin-top: auto;
<<<<<<< HEAD
}
>>>>>>> 0dd6ad2 (Front_cra_absence)
=======
}
>>>>>>> d87f7d0 (dashboard navigation done -- todo - dashboard content and managed bean)
