@charset "UTF-8";

body {
	height: 100vh;	
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #34495e;
}

#content {
	border: double;
	padding: 10px;
	margin: 10px;
	min-height: calc(100vh - 20px - 10px - 5px); /* 计算剩余空间的高度 */
}

.logo {
	width: 20%;
	height: 20%;
}

#search-input {
	height: 40px;
}

.user-image {
	width: 80%;
	height: 80%;
}


.lien {
	display: flex;
	align-items: center;
}

.lien a {
	margin: 0 10px;
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.lien a:hover {
	color: #f5f5f5;
}

.height-60-vh {
	min-height: 60vh;
}

.profile-card {
	height: 18vh;
}

.side-nav {
	height: 90%;
}

#navbarNav {
	width: 20vw;
}

#footer {
	background-color: #f8f4f4;
	padding: 5px;
	text-align: center;
<<<<<<< HEAD
	bottom: 0;
}
=======
	margin-top: auto;
<<<<<<< HEAD
}
>>>>>>> 0dd6ad2 (Front_cra_absence)
=======
}
>>>>>>> d87f7d0 (dashboard navigation done -- todo - dashboard content and managed bean)
