@charset "UTF-8";

body {
	height: 100vh;	
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #34495e;
}

.logo {
	width: 20%;
	height: 20%;
}

#search-input {
	height: 40px;
}

.profile-image-size {
	width: 80%;
	height: 80%;
}


.lien {
	display: flex;
	align-items: center;
}

.lien a {
	margin: 0 10px;
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.lien a:hover {
	color: #f5f5f5;
}

.height-60-vh {
	min-height: 60vh;
}

.profile-card {
	height: 18vh;
}

.speedometer-size {
	height: 40%;
	width: 40%;
}

.side-nav {
	height: 90%;
}

.bg-reportly-lbl {
	background-color: #34495e;
	border-color: #34495e;
}

#navbarNav {
	width: 20vw;
}

#footer {
	background-color: #f8f4f4;
	padding: 5px;
	text-align: center;
	margin-top: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> uc_dashboard_employee
