@charset "UTF-8";

body {
	display: grid;
	grid-template-rows: minmax(100vh, auto) auto;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #34495e;
}

#content {
	
}

.logo {
	width: 20%;
	height: 20%;
}

#search-input {
	height: 40px;
}

.profile-image-size {
	width: 80%;
	height: 80%;
}

.profile-card {
	height: 18vh;
}

.speedometer-size {
	height: 40%;
	width: 40%;
}

.h-size {
	/* min-height: 67vh; */
	
}

.side-nav {
	height: 90%;
}

.bg-reportly-lbl {
	background-color: #34495e;
	border-color: #34495e;
}

#navbarNav {
	width: 20vw;
}

#footer {
	background-color: #F8F4F4;
	padding: 5px;
	text-align: center;
	grid-row: 2;
}